@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.heading1 {
  width: 100%;
  height: 920px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  position: relative;
}

.text1 {
  font-size: 44px;
  color: #23282d;
  position: absolute;
  top: 100px;
  left: 13%;
  font-weight: 500;
}

.thinblackline {
  height: 1px;
  background-color: #23282d;
  position: absolute;
  top: 210px;
  left: 13%;
  width: 74%;
}

.text4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  top: 40%;
  /* left: 15%; */
  width: 72%;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-top: 35px;
}

.text4-left {
  position: absolute;
  top: 110%;
  left: 0%;
  width: 40%;
  margin-top: 33px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.Phone-numbers {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  flex-direction: wrap;
  align-items: flex-start;
  gap: 25px;
  font-size: 20px;
  justify-content: center;
  color: #23282d;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-top: 10px;
}

.underlineHover {
  text-decoration: none;
  color: rgb(56, 88, 233);
  cursor: pointer;
}

.underlineHover:hover {
  text-decoration: underline;
}

.Phone-numbers > :first-child {
  font-size: 20px;
  font-weight: 400;
  color: rgb(56, 88, 233);
  margin-bottom: 1em;
  font-style: "Inter", sans-serif;
}

.Phone-numbers > :nth-child(2) {
  font-size: 20px;
  font-weight: 400;
  color: #23282d;
  margin-bottom: 0.3em;
  font-style: "Inter", sans-serif;
}

.Phone-numbers > :last-child {
  margin-top: 10px;
  font-size: 16px;
}

.text4-left > :first-child {
  font-size: medium;
  font-weight: bold;
  color: rgb(56, 88, 233);
  margin-bottom: 1.2em;
}

.text4-left > :nth-child(2) {
  margin-bottom: 2em;
  font-size: 26px;
  font-family: "Inter", sans-serif;
}

.text4-left > :nth-child(3) {
  margin-bottom: 1em;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.text4-right {
  position: absolute;
  top: 106%;
  right: 0%;
  width: 50%;
  margin-top: 35px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.text4-right > :first-child {
  font-size: medium;
  font-weight: bold;
  color: rgb(56, 88, 233);
  margin-bottom: 1.2em;
}

.text4-right > :nth-child(2) {
  margin-bottom: 1em;
  font-size: 26px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.text4-right > :nth-child(3) {
  margin-bottom: 1em;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.map-container {
  position: relative;
  padding-bottom: 70%;
  height: 0;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
}
