
.blockquote {
  display: flow-root;
  margin: 0;
}

.blockquote__item:first-child {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 400;
  line-height: 50px;
  margin: 0 0 40px;
  white-space: pre-line;
}

.blockquote__item:last-child {
  display: block;
  max-width: 380px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-right: 30px;
  margin: 0;
  float: right;
}

.blockquote__item:first-child:before {
  content: "“";
  position: absolute;
  color: #6C0287;
  font-family: Arial;
  font-size: 44px;
  font-weight: 900;
  line-height: calc(44/50);
  text-align: left;
  left: 0;
  top: -8px;
}

.blockquote__item:first-child:after {
  content: " ”";
  color: #6C0287;
  font-family: Arial;
  font-size: 44px;
  font-weight: 900;
  line-height: calc(44/50);
}

.blockquote__item-img-creator {
  border-radius: 50%;
  margin-right: 20px;
  object-fit: contain;
  width: 80px;
  height: 80px;
  float: left;
}